<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/CombinationAB/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
        <add key="Username" value="github" />
        <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </github>
  </packageSourceCredentials>
</configuration>
